/**
 * @license
 * MyFonts Webfont Build ID 2926799, 2014-11-21T07:38:41-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: RotisSansSerifStd-Regular by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/rotis-sans-serif/std-55-roman/
 * Copyright: Font software Copyright 1998, 2007 Monotype Imaging Inc. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2926799
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2ca8cf");

@font-face {font-family: 'RotisSansSerifStd-Regular';src: url('webfonts/2CA8CF_0_0.eot');src: url('webfonts/2CA8CF_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2CA8CF_0_0.woff2') format('woff2'),url('webfonts/2CA8CF_0_0.woff') format('woff'),url('webfonts/2CA8CF_0_0.ttf') format('truetype');}